/* ==========================
  Variables
========================== */

$color-gray-light: hsla(0, 0, 97, 1);
$color-gray: hsla(0, 0, 50, 1);

$color-white: hsla(0, 0, 100, 1);

$color-primary-light: hsla(184, 70, 54, 1);
$color-primary: hsla(184, 86, 41, 1);
$color-primary-dark: hsla(211, 70, 68, 1);

$color-secondary-light: hsla(16, 82, 73, 1);
$color-secondary: hsla(4, 78, 66, 1);

$color-facebook: hsla(220, 46, 48, 1);
$color-twitter: hsla(203, 89, 53, 1);
$color-github: hsla(207, 11, 16, 1);

$font-stack-body: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-stack-header: "Dancing Script";

/* ==========================
  End of Variables
========================== */

/* ==========================
  Placeholders
========================== */

%align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%padding {
  padding: 0 3rem;
}

/* ==========================
  End of Placeholders
========================== */

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $color-gray-light;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: $font-stack-body;
}

h1,
h2 {
  font-weight: normal;
}

h1 {
  font-family: $font-stack-header;
  font-size: 6rem;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 3rem;
  text-shadow: 0 0.2rem 0.2rem hsla(0, 0, 0, 0.1);
  margin-bottom: 4rem;
}

p {
  color: $color-gray;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.button {
  display: block;
  padding: 1.5rem 5rem;
  font-size: 1.8rem;
  color: $color-white;
  text-decoration: none;
  border-radius: 5rem;
  width: 22rem;
  text-align: center;
  margin: 0 auto 2.5rem;

  &__ghost {
    border: 0.2rem solid $color-white;
    transition: 0.2s linear all;

    &:hover {
      background-color: hsla(0, 0, 100, 1);
    }

    &--primary {
      &:hover {
        color: $color-primary;
      }
    }

    &--secondary {
      &:hover {
        color: $color-secondary;
      }
    }
  }

  &__primary,
  &__secondary {
    box-shadow: 0 0.2rem 0.3rem hsla(0, 0, 0, 0.2);
    transition: 0.2s linear all;
    &:hover {
      transform: scale(1.05) translateY(-0.3rem);
      box-shadow: 0 0.4rem 1.2rem hsla(0, 0, 0, 0.08);
    }
  }

  &__primary {
    background-image: linear-gradient(
      to bottom,
      $color-primary-light,
      $color-primary-dark
    );

    &:hover {
      background-image: linear-gradient(
        to bottom,
        $color-primary-dark,
        $color-primary-dark
      );
    }
  }

  &__secondary {
    background-image: linear-gradient(
      to bottom,
      $color-secondary-light,
      $color-secondary
    );
  }
}

.form-wrapper {
  background-color: $color-white;
  display: flex;
  min-height: 70vh;
  width: 88rem;
  box-shadow: 0 0.2rem 0.6rem hsla(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;

  &__left {
    @extend %align-center;
    color: $color-white;
    text-align: center;
    flex: 1 0 37%;

    &--sign-in {
      display: none;
      @extend %align-center;
      @extend %padding;
      flex-grow: 1;
      background-image: linear-gradient(
        to bottom,
        $color-primary-light,
        $color-primary-dark
      );
    }

    &--sign-up {
      // display: none;
      @extend %padding;
      @extend %align-center;
      flex-grow: 1;
      background-image: linear-gradient(
        to bottom,
        $color-secondary-light,
        $color-secondary
      );
    }
  }

  &__right {
    flex: 1 0 63%;
    @extend %align-center;

    &--sign-in {
      display: none;
      @extend %align-center;
      flex-grow: 1;
      width: 100%;

      h1 {
        color: $color-primary;
      }
    }

    &--sign-up {
      // display: none;
      @extend %align-center;
      flex-grow: 1;
      width: 100%;

      h1 {
        color: $color-secondary;
      }
    }
  }

  .social-login {
    margin-bottom: 3rem;
    display: flex;
    &__link {
      text-decoration: none;
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0.1rem 0.3rem hsla(0, 0, 0, 0.08);
      border-radius: 0.5rem;
      height: 5.5rem;
      width: 5.5rem;

      &--facebook {
        color: $color-facebook;
      }

      &--twitter {
        color: $color-twitter;
      }

      &--github {
        color: $color-github;
      }

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  .divider {
    width: 25rem;
    margin-bottom: 3rem;
    text-align: center;

    span {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.6rem;
      color: $color-gray;

      &::before,
      &::after {
        content: "";
        display: block;
        background-color: $color-gray-light;
        height: 0.3rem;
        width: 42%;
      }
    }
  }

  .form {
    width: 30rem;
    text-align: center;
    fieldset {
      border: none;
    }

    &__input {
      width: 100%;
      padding: 1.5rem 2rem;
      border: none;
      background-color: $color-gray-light;
      margin-bottom: 2rem;
      font-size: 1.6rem;
      border-radius: 0.5rem;
    }

    .forgot-password {
      color: $color-gray;
      font-size: 1.4rem;
      text-decoration: none;
    }
  }
}
